## Homegate scraping with selenium

Hopefully this works better and doesn't have inconsistencies.

In [1]:
# Preliminary
import pandas as pd
import requests
import re
import time
from bs4 import BeautifulSoup
import os
from selenium import webdriver
import time
from selenium.webdriver.common.by import By


os.chdir('/Users/drutna/Documents/pp4rs/assignment/pp4r_final_assignments') # change this to your path

In [2]:
chromedriver_name = 'chromedriver'

Trying with just one site first:

In [25]:
browser = webdriver.Chrome()
browser.get('https://www.homegate.ch/rent/3003551480')
time.sleep(10)
data = [dd.text for dd in browser.find_elements(By.TAG_NAME, 'dd')]
categories = [dt.text for dt in browser.find_elements(By.TAG_NAME, 'dt')]
df = pd.DataFrame([dict(zip(categories, data))])
address = browser.find_element(By.CLASS_NAME, 'AddressDetails_addressDetails_wuB1A .AddressDetails_address_i3koO').text
df['Address'] = address
df

,Net rent:,Add'l expenses:,Rent:,Available from:,Type:,No. of rooms:,Floor:,Surface living:,Listing ID,Object ref.,Address
0,"CHF 3,500.–",CHF 450.–,"CHF 3,950.–",01.11.2023,Apartment,3.5,1,114 m2,3003551480,iaao5.0hfm2,"Käferholzstrasse 32, 8057 Zürich"

This creates a nice dataframe with various data on the listing.

Trying with another test site:

In [26]:
browser = webdriver.Chrome()
browser.get('https://www.homegate.ch/rent/3003556313')
time.sleep(10)
data = [dd.text for dd in browser.find_elements(By.TAG_NAME, 'dd')]
categories = [dt.text for dt in browser.find_elements(By.TAG_NAME, 'dt')]
df = pd.DataFrame([dict(zip(categories, data))])
address = browser.find_element(By.CLASS_NAME, 'AddressDetails_addressDetails_wuB1A .AddressDetails_address_i3koO').text
df['Address'] = address
df

,Net rent:,Add'l expenses:,Rent:,Available from:,Type:,No. of rooms:,Floor:,Number of floors:,Year built:,Listing ID,Object ref.,Address
0,"CHF 1,950.–",CHF 300.–,"CHF 2,250.–",By agreement,Roof flat,3.5,2,2,1650,3003556313,ksw9m.b00oe,"Unterdorfstrasse 15, 8105 Watt"

Seems to work. Now with multiple listings...